@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
/* globals.css */
::-webkit-scrollbar {
  height: 2px;
}
::-webkit-scrollbar-track {
  background: #e5e7eb; /* Tailwind's gray-200 */
}
::-webkit-scrollbar-thumb {
  background: #000; /* black */
  border-radius: 6px;
}

/* Firefox */
.scrollbar-custom {
  scrollbar-width: thin;
  scrollbar-color: black #e5e7eb;
}
.section4imagestext {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  text-align: center;
  color: white;
  transform: translateY(-70px);
  transition: transform 0.7s ease-in-out, opacity 0.8s ease-in-out;
  z-index: 1000;
  text-align: center;
}

.section4imagestag {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.7s ease-in-out, opacity 0.6s ease;
  opacity: 1.9;
}

.section4overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    transparent,
    rgb(255, 94, 0)
  );
  opacity: 0;
  transition: opacity 0.6s ease-in;
}

.overlaytext {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  text-align: center;
  color: white;
  transform: translateY(-10px);
  opacity: 0;
  transition: transform 0.7s ease, opacity 0.8s ease;
  z-index: 1000;
}

/* HOVER EFFECTS */
.section4images:hover .section4overlay {
  opacity: 1;
}

.section4images:hover .section4imagestag {
  transform: scale(1.2);
}

.section4images:hover .section4imagestext {
  transform: translateY(-120px);
  opacity: 1;
}

.section4images:hover .overlaytext {
  transform: translateY(-50px);
  opacity: 1;
}


/* custom cursor */
/* src/components/CustomCursor.css */

.custom-cursor {
  width: 100px;
  height: 100px;
  border: 2px solid #000;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
   pointer-events: auto; /* important so onClick works */
  z-index: 9999;
  transform: translate(-50%, -50%);
  transition: transform 0.2s ease;
}


